# Maven
target/

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/
dist/
node/


# Node/React
frontend/node_modules/
frontend/build/
src/main/resources/static/
# logs
**/npm-debug.log*
**/yarn-error.log*
